h1 {
    color:#ffffff;
    text-align: center;
    font-size: 3em;
    background: linear-gradient(to left,#a7a3a3,#b108ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 150px;
    border: 7px solid rgb(192, 192, 192);
    border-radius: 50% 50% 50% 50% / 70% 30% 70% 30%;
    padding: 50px;

}

h2 {
    color:#ffffff;
    font-size: 2.5em;
    margin: 10px;
    padding: 10px;
}
h3 {
    color:#ffffff;
    font-size: 2em;
    margin: 15px;
    padding: 15px;
}

p {
    color:#ffffff;
    font-size: 1.5em;
    width: 50%;
    margin-left: 20px;
    margin-right:20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

body {
    background: linear-gradient(to right,#000014,#320a44);


}