
h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 6px 6px 12px #000000;
    text-align: center;
    background-image: url(images/ciel.avif);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:100%;
    opacity:0.7;
    padding:150px;
    border: 7px solid rgb(62, 27, 95);
    border-radius: 90% 10% 90% 10% / 20% 80% 20% 80% ;
    margin:auto;

    
}
h2 {
    color:rgba(206, 181, 101,0.9);
    font-size: 2.5em;
    font-style:italic;
    margin: 50px;
}

p{
    font-family: 'Bonheur Royale', cursive;
    font-size: 3em;
    color:rgb(58, 202, 171);
}



.ma-classe {
    color:rgb(88, 30, 84);
}

a:hover {
    opacity: 0.7;
    color:#000000;
    
}

a:active {
    text-decoration-color: azure;
}

a {
text-decoration:none;
color:rgb(243, 255, 130);
    font-weight: 900;

}

a:focus {
    background-color:#db2583;
    color:aqua;
    outline-color: blueviolet;
    box-shadow:6px 6px 15px rgb(0, 0, 0);
    opacity:0.9;

}

nav a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 11.5em;
    background: linear-gradient(to left,#2e9c97,#521717);
    background-attachment: fixed;
    border-radius: 20px;
    box-shadow: 6px 6px 15px rgb(0, 0, 0);
    
}

nav a p {
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 4em;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 1s ease;
    

}

nav a p:hover {
    text-decoration: none;
    transform:rotate(360deg);
    transition-delay: 1s;

}


@keyframes colorChange {
    0% { color: rgb(255, 0, 0); }
    25% { color: rgb(132, 0, 255); }
    50% { color: rgb(187, 255, 0); }
    75% { color: rgb(4, 0, 255); }
    100% { color: rgb(255, 0, 0); }
  }

.animate-color-change:hover {
    animation: colorChange 5s infinite;
}




body {
    background: linear-gradient(to right,#db2583,#7125db);
    background-attachment: fixed;
}

p[class=intelligence] {
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#17c952;
}

select {
    width: 15em;
    height: 2em;
    border: 3px solid #17c952;
    border-radius: 10px;
    background-color:#472c2c;
    color:#17c952;
}


.logo {
    width: 150px;
    height: 100px;

    background-image: url(images/bannière_f.jpg);

    background-repeat: no-repeat;

    background-position: center center;

    background-size:cover;

    background-size: contain;

    background-color: rgb(255, 255, 255);

    position: absolute;

    top: 0;

    right: 0;

    border-radius:50% 50% 50% 50% / 5% 5% 95% 95% ;width:6em;height:8em;

    border-color:rgb(38, 38, 139);

    box-shadow:6px 6px 15px rgb(0, 0, 0);
    
}

a img {
    border:6px solid #000000;
    border-radius: 30%;
    height: 8em;
    width: 6em;
    transition: transform 0.3s ease;
    margin-top: 20px;
    margin-left: 20px;
}

a img:hover {
    transform: matrix(0, 1, 1, 0, 0, 0);
    transition-delay: 0.3s;

}


.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 245px 300px 180px;
    gap: 20px;
}
.box {
    border: 6px solid #c4c4c4;
    border-radius: 20px;
    background: linear-gradient(45deg,#b9d84a,#fff);
    padding: 20px;
}

.two {
    grid-column-start: 2;
    grid-column-end: 5;
}

.four {
    grid-column-start: 1;
    grid-column-end: 5;
}

.seven {
    grid-column-start: 2;
    grid-column-end: 6;
}

.eight {
    grid-column-start: 1;
    grid-column-end: 6;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


