
h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-shadow: 6px 6px 12px #000000;
    text-align: center;
    background-image: url(images/ciel.avif);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:30em;
    opacity:0.7;
    padding:150px;
    border: 7px solid rgb(62, 27, 95);
    border-radius: 90% 10% 90% 10% / 20% 80% 20% 80% ;

    
}
h2 {
    color:rgba(206, 181, 101,0.9);
    font-size: 2.5em;
    font-style:italic;
}

p{
    font-family: 'Bonheur Royale', cursive;
    font-size: 3em;
    color:rgb(58, 202, 171);
}



.ma-classe {
    color:rgb(88, 30, 84);
}

.ma-classe-2 {
    color:rgb(6, 219, 34);
    font-weight: 900;

}

body {
    background: linear-gradient(to right,#db2583,#7125db);
    background-attachment: fixed;
}

.logo {
    width: 150px;
    height: 100px;

    background-image: url(images/bannière_f.jpg);

    background-repeat: no-repeat;

    background-position: center center;

    background-size:cover;

    background-size: contain;

    background-color: rgb(255, 255, 255);

    position: absolute;

    top: 0;

    right: 0;

    border-radius:50% 50% 50% 50% / 5% 5% 95% 95% ;width:6em;height:8em;

    border-color:rgb(38, 38, 139);

    box-shadow:6px 6px 15px rgb(0, 0, 0);
    
}

img {
    width: 4em;
    height: 5em;
    position:absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50% 50% 50% 50% / 50% 50% 50% 50%;
    border:6px solid rgb(126, 89, 33);
    box-shadow:6px 6px 15px rgb(0, 0, 0);
    background-image:url(images/château.jpg);
    background-position:bottom;
    background-size: 8em;
    background-repeat: no-repeat;

}